$supportGap: 2px;

.Component {
  background-color: var(--color-white);
  position: relative;
  z-index: 1;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 40px 20px 0;

  .logo {
    text-decoration: none;
    margin-left: 40px;
    margin-right: 80px;
    font-size: 18px;
    color: var(--color-black);
  }

  .link {
    text-decoration: none;
    font-size: 14px;
    color: var(--color-black);

    &:hover {
      color: var(--color-blue-base);
    }
  }

  .active {
    color: var(--color-blue-base);
  }

  .currency {
    color: var(--color-gray-text);
    font-weight: 500;
    size: 14px;
    margin: 0 29px 0 40px;
  }

  .headerLang {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .vertical-line {
    width: 1px;
    height: 32px;
    background-color: #e7ecf3;
    margin-left: 29px;
  }

  .headerAva {
    width: 32px;
    height: 32px;
    margin-left: 29px;
    cursor: pointer;
  }

  .arrow-down {
    height: 6px;
    width: 10px;
    margin-left: 19px;
    margin-right: 100px;
    cursor: pointer;
  }
}

.headerBtn {
  border: none;
  width: fit-content;
  flex-shrink: 0;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(to right, #4695ff, #fee219);
}

.headerBtnInner {
  margin: 2px;
  padding: 11px 20px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  background: var(--color-black);
  color: var(--color-white);
  cursor: pointer;

  .headerFlag {
    margin-left: 5px;
  }
}

.List {
  display: flex;
  gap: 40px;
  flex: 1;
}
