.nav {
  background-color: white;
  padding: 25px;
}

.logo {
  text-decoration: none;
  margin: 20px;
  font-size: 15px;
  color: black;
}

.link {
  text-decoration: none;
  margin: 20px;
  font-size: 15px;
  color: black;
}

.link:hover {
  color: var(--color-primary);
}

.active {
  color: var(--color-primary);
}
