.main-image {
  margin-top: -84px;
  z-index: -1;
}

.main-text {
  position: absolute;
  margin-left: 135px;
  margin-top: -480px;
  color: var(--color-black-text);
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -0.5%;
  width: 826px;
  height: 240px;
}
